body {
    color: #fff;
}

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: #0000ff;
    font-size: 3rem;
    min-width: 80rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(6, 103, 247, 0.5);
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background: #00cc39;
}

.incorrect {
    background: #ab212e;
}

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progressBarContainer {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid #00cc39;
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBar {
    height: 100%;
    background: #00cc39;
    width: 0%;
}

@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
    }
}
